<h1>New Exhibition Page!!!</h1>

<%= form_for @exhibition do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>

  <%= f.label "Location" %>
  <%= f.text_field :location %>

  <%= f.label "Date (MM/DD/YYYY)" %>
  <%= f.text_field :date %>

  <%= f.submit "Create New Exhibition" %>
<% end %>
