<div class="page-height">
  <h1>This is the rails form for a new image</h1>

  <%= form_for @image do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name %>

    <%= f.label "Price ($)" %>
    <%= f.number_field :price %>

    <%= f.label "Description" %>
    <%= f.text_field :description %>

    <%= f.label "Exhibition" %>
    <%= f.select(:exhibition_id, options_for_select(@selectors)) %>

    <%= f.label "Image" %>
    <%= f.file_field :image %>

    <%= f.submit "Add Image" %>
  <% end %>
</div>
